---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

th
        {
        padding         : .5em 0;
        border-bottom   : thin black solid;
        }
td
        {
        padding         : .2em .5em;
        }

tr td:first-child
        {
        border-right    : thin black solid;
        }
